body {
  font-family: 'Merriweather', serif;
  line-height: 1.5;
  color: #aaffff;
  max-width: 68rem;
  margin: 0 auto;
  padding: 1.5rem;

  background-image: url("media/bricks.png");
  background-repeat: repeat;
}

header { 
  margin: 2rem 0 3rem; 
}
header h1 { 
  margin: 0;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
}

header p { 
  margin: 0.25rem 0 0; 
  font-size: 1.4rem;
}

.project { 
  margin: 0 0 4rem; 
}

.project h2 { 
  margin: 0 0 0.25rem; 
}

.project .meta { 
  color: #666; 
  font-size: 0.9rem; 
  margin: 0 0 1rem; 
}

.mycontainter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    place-items: center;
    margin: 30px 0;
}

.mycontainter > div {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: fit-content;
}

.mycontainter img {
    display: block;
    max-width: 100%;
}

.mycontainter figcaption {
  text-align: center;
  font-size: 1.1rem;
}

figure { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0; 
}

figure img {
  display: block;
}

figure figcaption {
  text-align: center;
  font-size: 1.1rem;
}

img, video { 
  max-width: 100%; 
  display: inline-block; 
}
figcaption { 
  color: #bbb; 
  font-size: 0.85rem; 
  margin-top: 0.4rem; 
  font-weight: bold;
}

footer { 
  margin: 4rem 0 2rem; 
  color: #bbb; 
  font-size: 0.9rem; 
}

a:link {
  color: #7766ff;
  text-decoration: none;
}

a:visited {
  color: #7766ff;
}

a:hover {
  color: #7766ff;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
}